@import '@styles/theme.module.scss';

// Keyframes for fade-in and slide-up effect
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Add bounce effect to the button
@keyframes buttonBounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.root {
    color: antiquewhite;
    font: $large-font;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    height: 100vh;
    animation: fadeInUp 1s ease-in-out;
    animation-fill-mode: forwards;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: antiquewhite;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 6rem;
    opacity: 0; /* Start hidden */
    animation: fadeIn 1s ease-in-out 0.3s forwards;

    @media only screen and (max-width: $mobile-width) {
        font-size: 3rem;
    }
}

.paragraph {
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font: $paragraph-font;
    opacity: 0; /* Start hidden */
    animation: fadeInUp 1s ease-in-out 0.5s forwards;

    @media only screen and (max-width: $mobile-width) {
        font-size: 1rem;
    }
    flex-direction: column;
}

.text {
    text-align: center;
    align-self: center;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 80%;
}

.button {
    font: $button-font;
    text-align: center;
    background-color: $black;
    color: $white;
    border-radius: 9999px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    animation: buttonBounce 1.5s ease-in-out infinite;
    align-items: center;
    
    &:hover {
        background-color: #357abd;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
}

.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
    opacity: 0; /* Start hidden */
    animation: zoomIn 1.4s ease-in-out 0.4s forwards;

    @media (max-width: $mobile-width) {
        width: 90%;
    }
}
.a1 {
    align-items: center;
    text-align: center;
}
